
@media (min-width: 200px) {

    :root {
      
        /* Font-size */
        --formInputFs: .9em;
        --invalidMsgFs: .8em;
        --sumBtn: 1em;
        --checkFs: 3.2em;
        --modalH2Fs: 1.3em;
        --modalParaFs: .86em;
        --modalH4Fs: .9em;

        /* Width / Height */
        --formWidth: 90%;
        --summaryWidth: 80%;
        --codWidth: 30rem;
        --paymentCardWidth: 80%;

    }

    .content-container {
        background-color: var(--light);
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-block: 2rem;
        width: 100%;
    }

    .content-container section form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: var(--formWidth);
        margin-inline: auto;
        
    }

    .content-container .info-title {
        color: var(--orange);
        margin-block: 1em;
    }

    /* Billing Section */
    .billing-section > div {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .input-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .invalid-msg {
        display: none;
    }

    .input-field > span,
    .inner-shipping .address-container > span {
        display: flex;
        justify-content: space-between;
    }

    .input-field > span i,
    .address-container > span i,
    .payment-container .title-msg i {
        font-size: var(--invalidMsgFs);
        align-self: center;
        color: var(--orange);
        font-weight: 700;
    }

    form input {
        padding: .7em;
        font-size: var(--formInputFs);
        border: 1.4px solid var(--dark);
        margin-top: .7em;
        outline: none;
    }

    .input-field > input:focus {
        border-color: var(--orange);
    }
    
    /* Shipping Info Section*/

    .shipping-container .inner-shipping {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    } 

    .shipping-container .inner-shipping .address-container {
        display: flex;
        flex-direction: column;
    }

    .inner-shipping .address-details {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    /* Payment Section */

    .payment-container > section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .payment-container .title-msg {
        display: flex;
        justify-content: space-between;
    }

    .payment-container > section > section {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .payment-options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .payment-options label {
        border: 1px solid var(--dark);
        padding: .5rem;
        cursor: pointer;
    }

    .payment-options label span {
        margin-left: .4rem;
    }

    .results-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .results-container .first-container {
        display: flex;
        flex-direction: column;
    }

    .cod-container {
        display: flex;
        gap: 1.4rem;
        flex-direction: column;
    }

    .cod-container i {
        align-self: center;
        color: var(--orange);
        font-size: 3em;
    }

    .cod-container p {
        text-align: justify;
    }

    .payment-container > section .methods-container > div{
        display: none;
    }



    /* Summary Section */

    .content-container .summary-container {
        display: flex;
        flex-direction: column;
        width: var(--summaryWidth);
        margin-inline: auto;
        row-gap: 2rem;
    }

    .summary-container .product {
        display: flex;
        flex-direction: column;
        row-gap: 1.4rem;
        /* justify-content: space-between; */
    }

    .summary-container .product > section {
        /* display: flex; */
        justify-content: space-between;
        display: none;
    }

    .summary-container .product > section.active {
        display: flex;
    }

    .summary-container .product > section > div {
        display: flex;
        gap: .4rem;
    }

    .summary-container .product > section > span {
        /* color: var(--orange); */
        font-weight: 700;
        color: var(--orange);
    }


    .summary-container .computations {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .summary-container .computations > div {
        display: flex;
        justify-content: space-between;
    }

    .summary-container .computations > div .list-title {
        opacity: .5;
        font-weight: 500;
    }

    .summary-container > button {
        background-color: var(--orange);
        color: var(--light);
        border: none;
        outline: none;
        padding-block: 1em;
        font-size: var(--sumBtn);
    }

    /* Payment Modal */

    .payment-modal-container {
        position: fixed;
        background-color: rgba(0,0,0,0.9);
        inset: 0 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999999999;
        display: none;
    }

    .payment-modal-container .modal-card-payment {
        background-color: var(--light);
        width: var(--paymentCardWidth);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1em;
        border-radius: .5em;
        animation: modalCard .8s;
        display: none;
    }

    @keyframes modalCard {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    .modal-card-payment i {
       color: var(--orange);
       font-size: var(--checkFs);
    }

    .modal-card-payment .summary-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .modal-card-payment .summary-info h2 {
       font-size: var(--modalH2Fs);
    }

    .modal-card-payment .summary-info p {
        font-size: var(--modalParaFs);
    }

    .modal-card-payment .summary-info .order-products {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .modal-card-payment .summary-info .order-products > section {
        display: flex;
        flex-direction: column;
        gap: .7em;
    }

    .modal-card-payment .summary-info .order-products > section:nth-child(2) {
        background-color: var(--dark);
        color: var(--light);
        padding: 1em;
    }

    .order-products > section:nth-child(2) > h4 {
        font-weight: 500;
    }

    .order-products > section:nth-child(2) > h4:nth-child(1) {
        opacity: .9;
    }

    .order-products > section > div:nth-child(1) {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--dark);
        padding-bottom: .8em;
    }

    .order-products > section > div:nth-child(1) > div {
        display: flex;
        gap: .6em;
    }

    .order-products > section > div:nth-child(1) > div h4 {
        font-size: var(--modalH4Fs);
    }

    .payment-modal-container .modal-card-payment > a {
        text-align: center;
        background-color: var(--orange);
        color: var(--light);
        padding-block: .6em;
    }

    .summary-info .order-products [data-products] > section.active {
        display: flex;
        justify-content: space-between;
    }

    [data-products] > section.active > div {
        display: flex;
        gap: 1em;
    }
}

@media (min-width: 530px) {
    :root {
        --paymentCardWidth: 30rem;
        --checkFs: 4.2em;
        --modalH2Fs: 2em;
        --modalParaFs: 1em;
        --modalH4Fs: 1em;
    }

    /* Payment modal */

    .modal-card-payment .summary-info .order-products {
        flex-direction: row;
    }

    .modal-card-payment .summary-info .order-products > * {
        flex: 1;
    }
}

@media (min-width: 684px) {

    :root {
        /* Width */
        --inputFieldWidth: 18rem;
        --summaryWidth: 30rem;
        
    }

    .billing-section > div {
        flex-direction: row;
        justify-content: space-between;
    }

    .input-field {
        width: var(--inputFieldWidth);
    }

    /* shipping section */

    .inner-shipping .address-details {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Payment section*/

    .payment-container > section .payment-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .payment-wrapper label {
        width: var(--inputFieldWidth);
    }

    .payment-container > section > section .results-container {
        flex-direction: row;
        justify-content: flex-start;
        gap: 3rem;
    }

    .results-container > section > input {
        width: 100%;
    }

    .cod-container {
        flex-direction: row;
        width: var(--codWidth);
        margin-inline: auto;
    }

    /* Payment Modal */

    .payment-modal-container .modal-card-payment {
        padding: 2.5em 1.5em;
        gap: 2.6em;
    }

}

@media (min-width: 737px) {
    :root {
        --inputFieldWidth: 20rem;
    }
}

@media (min-width: 900px) {

    :root {
        --inputFieldWidth: 15rem;
        --summaryWidth: 17rem;
        --codWidth: 33rem;
    }

    .content-container {
        flex-direction: row;
        justify-content: center;
        
    }

    .content-container .summary-container {
        margin: 0;
    }
}

@media (min-width: 1235px) {
    :root {
        --inputFieldWidth: 20rem;
        --summaryWidth: 20rem;
        --formWidth: 95%;
    }
}