* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --headFs: calc(2rem + 1vw);
    --subHeadFs: calc(.7rem + .7vw);
    --labelFs: ;
    --tableHeadFs: 1rem;
    --tableDataFs: ;
    --buttonFs: 1.2rem;
    --lightColor: #f4f4f4;
    --greenColor: #2ecc71;
}

body {
    background-color: #222;
}

.whole-app .text-section h2 {
    text-align: center;
    font-weight: 200;
    font-size: var(--headFs);
    margin: 1.7rem auto;
    color: var(--lightColor);
}

.whole-app .text-section p {
    text-align: center;
    font-size: var(--subHeadFs);
    font-weight: 200;
    margin-bottom: 6rem;
    position: relative;
    color: var(--greenColor);
}


.input-section .inner-input label {
    color: var(--lightColor);
}

.input-section .inner-input label > input {
    appearance: none;
    outline: 1px solid #000;
    border: none;
    background-color: #f4f4f4;
    padding: .6em 1.2em;
    margin-left: 1em;
    height: 2em;
    border-radius: 10px;
    width: 12em;
}

.input-section .inner-input {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}


.input-section button {
    appearance: none;
    outline: none;
    border: none;
    display: block;
    margin-inline: auto;
    margin-top: 5rem;
    padding: .8rem;
    color: #f4f4f4;
    background-color: #34495e;
    transition: all .3s;
    font-size: var(--buttonFs);
}

.input-section button:hover {
    cursor: pointer;
    background-color: #2ecc71;
}

.input-section button:active {
    transform: scale(.9);
}


.whole-app .table-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    
}

.table-container table {
    margin-bottom: 2em;
}

table th {
    text-align: left;
    font-weight: 600;
    font-size: var(--tableHeadFs);
    padding: .7em 1em;
    color: var(--lightColor);
    background-color: #2c3e50;
}

table td {
    background-color: #95a5a6;
    padding: 1em;
    color: #000;

}

.table-container table {
    width: 70%;
}

table, th, td {
    border: 1px solid var(--lightColor);
    border-collapse: collapse;
}

.btn-cross {
    appearance: none;
    outline: none;
    border: none;
    float: right;
    padding: .2em;
    color: var(--lightColor);
    background-color: crimson;
    box-shadow: 1px 0px 4px 0px #000;
    padding: .3em .4em;
}

.btn-cross:hover {
    cursor: pointer;
}

@media (max-width: 630px) {

    :root {
        --buttonFs: .8em;
    }
    .table-container table {
        width: 96%;
    }
}