:root {
    --dark: #2d3436;
    --light: #f4f4f4;
    --primary: crimson;
    --secondary: #ffa502;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body {
    background-image: url(https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.whole-app {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
}


.main-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}
 
.main-container .inner-container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
    width: 60%;
}

 div.status {
   position: -webkit-sticky;
   position: sticky;
   top: 2em;
   width: 100%;
   
   color: var(--light);
   font-size: 1.1rem;
   font-weight: 100;
   text-align: left;
   padding-left: 2em;
   padding-bottom: 4em;
   
   z-index: 9999;

   /* flex box */
   display: flex;
   flex-direction: column;
   gap: .3em;
}

header h1 {
    text-align: center;
    color: var(--light);
    padding-top: 0.6em;
    font-size: calc(3rem + 1vw);
    font-weight: 100;
}

header h1 span {
    text-align: center;
    color: var(--primary);
}

#score, #wrong {
    color: var(--secondary);
}

.main-container .inner-container .box {
    background-image: url(https://images.pexels.com/photos/604684/pexels-photo-604684.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    width: 16em;
    height: 20em;
    border-bottom-right-radius: 30px;
    border: 1px solid var(--light);
    transition: all 0.4s;
}

.main-container .inner-container .box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.main-container .inner-container [data-img1] {
    background-image: url(https://images.pexels.com/photos/4253623/pexels-photo-4253623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.main-container .inner-container [data-img2] {
    background-image: url(https://images.pexels.com/photos/6019207/pexels-photo-6019207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.main-container .inner-container [data-img3] {
    background-image: url(https://images.pexels.com/photos/1658747/pexels-photo-1658747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

@media (max-width: 940px) {
    .main-container .inner-container .box {
        width: 10em;
        height: 12em;
    }

    div.status {
        position: static;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-bottom: 0em;
    }

    .main-container .inner-container .box:hover {
        transform: scale(1);
        cursor: pointer;
    }

    
}

@media (max-width: 857px) {
    .main-container .inner-container .box {
        width: 10em;
        height: 12em;
    }

    .main-container .inner-container {
        width: 60%;
    }
}

@media (max-width: 770px) {
    .main-container .inner-container .box {
        width: 7em;
        height: 9em;
    }

    .main-container .inner-container {
        width: 60%;
    }

    .main-container {
        padding-bottom: 15em;
    }
}


@media (max-width: 584px) {
      
    .main-container .inner-container {
        width: 80%;
    }

    .main-container {
        padding-bottom: 5em;
    }

    header h1 {
        font-weight: normal;
    }

    div.status {
        font-weight: normal;
    }
}

@media (max-width: 440px) {

    header h1 {
        font-size: calc(2rem + 1vw);
    }

    div.status {
        font-size: calc(.8rem + .7vw);
    }

    .main-container {
        transform: scale(0.8);
        padding-bottom: 14em;
    }

    .main-container .inner-container {
        width: 100%;
    }
}
